@charset "UTF-8";
h2,section {
    text-align: center;
}

section {
    color: rgb(40, 40, 40);
}

h2 {
    color: rgb(237, 80, 116);
}

/* appearance:noneで、デフォルトのCSSをなくす */
button {
    color: rgb(40, 40, 40);
    padding: 10px;
    width: 220px;
    background-color: #fff;
    border-color: #ffaec1;
    border-radius: 25px;
    transition: .3s;
    margin:0 10px 10px 10px;
} 
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: #ffaec1;
    box-shadow: 0px 5px 5px 0px rgba(244, 180, 196, 0.182)
}
#result_message {
    margin: 10px auto 0;
}
#question_sentence {
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin-top: 100px;
}


body {
    background-color: #fff3fb;
    
}

img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index:-1;
    user-select: none;
}

@media screen and (max-width: 767px) {
    #question_sentence {
	color: rgb(40, 40, 40);
	font-weight: bold;
	margin-top: 20%;
    }
    img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30vw;
	z-index:-1;
	user-select: none;
}
}
